html, body {
    color: black;
    overflow: hidden;
}


.btns {
    margin: 0 0 0 -2px;
    display: inline;
}

#nav {
    margin: 0 10px 30px 0;
    height: 30px;
    width: 1375px;
    background-color:rgba(255, 255, 255, .1)
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
}

.open-btn-main {
    margin: 0 10px 0 10px;
    display: inline;
    transition-duration: 0.4s;
    background: transparent;
}

.open-btn-main:after {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.5em;
    color: darkblue;
    content: "\f115";
}

.save-btn-main {
    margin: 0 10px 0 10px;
    cursor: pointer;
    display: inline;
    transition-duration: 0.4s;
    background: transparent;
}

.save-btn-main:after {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.5em;
    color: gray;
    content: "\f0c7";
}

.save-btn-warn {
    cursor: pointer;
    margin: 0 10px 0 10px;
    display: inline;
    transition-duration: 0.6s;
    background: transparent;
}

.save-btn-warn:after {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.5em;
    color: darkorange;
    content: "\f0c7";
}

.add-btn-primary {
    margin: 0 10px 0 10px;
    display: inline;
    transition-duration: 0.4s;
    background: transparent;
}

.add-btn-primary:after {
    display: inline-block;
    font-size: 1.5em;
    font-family: FontAwesome;
    color: darkblue;
    content: "\f055";
}

.print-btn-primary {
    margin: 0 10px 0 10px;
    display: inline;
    transition-duration: 0.4s;
    background: transparent;
}

.print-btn-primary:after {
    display: inline-block;
    font-size: 1.5em;
    font-family: FontAwesome;
    color: darkblue;
    content: "\f02f";
}

.undo-btn-primary {
    margin: 0 10px 0 10px;
    display: inline;
    transition-duration: 0.4s;
    background: transparent;
}

.undo-btn-primary:after {
    display: inline-block;
    font-size: 1.5em;
    font-family: FontAwesome;
    color: darkblue;
    content: "\f0e2";
}

.search-btn-primary {
    cursor: pointer;
    margin: 0 5px 0 5px;
    position: absolute;
    left: 1100px;
    display: inline;
    transition-duration: 0.1s;
    background: transparent;
}

.search-btn-primary:after {
    font-family: FontAwesome;
    color: darkblue;
    content: "\f002";
}

.close-search-btn-primary {
    cursor: pointer;
    margin: 0 5px 0 5px;
    position: absolute;
    left: 1102px;
    top: 20px;
    display: inline;
    transition-duration: 0.4s;
    background: transparent;
}

.close-search-btn-primary:after {
    font-family: FontAwesome;
    color: darkred;
    content: "\f00d";
}

.settings-btn-primary {
    margin: 0 5px 0 5px;
    display: inline;
    transition-duration: 0.4s;
    background: transparent;
}

.settings-btn-primary:after {
    display: inline-block;
    font-size: 1.5em;
    font-family: FontAwesome;
    color: darkblue;
    content: "\f013";
}

.search-bar-primary {
    display: inline;
    position: absolute;
    left: 1125px;
    font-size: .8em;
    width: 130px;
    height: 25px;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 4px;
    transition: width 0.4s ease-in-out;
    font-family: 'Carrois Gothic', sans-serif;
    outline: none;
    border-color: #9ecaed;
    transition: border-color 0.7s ease;
}

.search-bar-primary:focus {
    width:200px;
    transition: width 0.4s ease-in-out;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.search-bar-err {
    display: inline;
    position: absolute;
    left: 1125px;
    font-size: .8em;
    height: 25px;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 0.7s ease;
    font-family: 'Carrois Gothic', sans-serif;
    width:200px;
    border-radius: 7px;
    outline: none;
    border-color:darkred;
    box-shadow: 0 0 10px darkred;
}

.form-row {
    display: block;
    float: left;
}

.form-row-large {
    display: block;
    float: left;
    width: auto;
    height: auto;
}

.textTitle-small {
    margin: 5px 0 0 25px;
    width: 30px;
    height: 15px;
}

.textBox-small {
    margin: 5px 0 30px 25px;
    width: 100px;
    height: 20px;
    border-radius: 3px;
    border-width: .5px important!;
}


.textBox-small:focus {
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;   
}

.textTitle-large {
    margin: 0 0 15px 10px;
    width: 100px;
    height: 15px;
}

.textBox-large {
    margin: 5px 0 15px 25px;
    width: 1000px;
    height: 75px;
    border-radius: 3px;
    border-width: .5px important!;
}

.textBox-large:focus {
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;   
}

.slt-mnu {
    width: 75px;
    outline: none;
    border-color: darkblue;
    box-shadow: 0 0 2px darkblue;   
}

#sidebar {
    padding: 5px 0 0 0;
    display: inline-block;
    height: 800px;
    margin: 20px 5px 0 -25px;
    width: 200px;
    float: left;
    border-width: .5px;
    border-style: solid;
    border-radius: 7px;
    font-size: 14px;
    border-color: #dddddd;
}

.guide {
  margin: 0 115px 0 -150px;
  display: inline-block;
  width: 30px;
  height: auto;
  font-family: 'Archivo Black', sans-serif;
}

.underline {
    margin: -3px 0 3px 0;
}

#sidebar ul {
    list-style-type: none;
    font-family: 'Carrois Gothic', sans-serif;
}

#mainWin {
    padding: 0;
    border-radius: 4px;
    display: inline-block;
    height: 1000px;
    width: 1185px;
    margin: 0 0 0 0;
    overflow: scroll;
    border-style: solid;
    border-width: .5px;
    border-color: #dddddd;
    position: fixed;
    top: 80px;
    left: 180px;
}

.invBlocklt {
  transition-duration: 0.5s;
  position: relative
  display: block;
  border: none;
  width: 1190px;
  height: 30px;
  margin: 0;
  background: #eeeaef;
}

.invBlock-exp {
    background: #dddddd;
    display: block;
    border-style: solid;
    border-width: .5px;
    border-radius: 7px;
    width: 1190px;
    height: 500px;
    margin: 0;
    transition-duration: 0.5s;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.invBlockdr {
  position: relative;
  display: block;
  border: none;
  width: 1190px;
  height: 30px;
  margin: 0;
  transition-duration: 0.1s;
}

.col {
  margin: 0 70px 0 15px;
  display: inline-block;
  width: 75px;
  height: auto;
  font-family: 'Archivo Black', sans-serif;
  border-radius: 3px;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 3px #9ecaed;   
}

.prc {
  margin: 0 25px 0 615px;
  display: inline-block;
  width: 30px;
  height: auto;
  font-family: 'Archivo Black', sans-serif;
}

::-webkit-scrollbar {
    width: .5px;
}


.ops {
  float: right;
}

.max-btn {

}

.min-btn {

}

.close-btn {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

#cat {
}

#prod li{
  cursor: pointer;
  text-decoration: none;

}

#cats {
    opacity: 1;
    transition: opacity 0.4s transition;
    -ms-transition: opacity 0.4s transition;
    -moz-transition: opacity 0.4s transition;
    -webkit-transition: opacity 0.4s transition;
}

#cats-hidden {
    opacity: 0;
    transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
}

#prod li:hover {
    background-color: darkred;
    color: white;
    text-decoration: none;
    border-radius: 1px;
    outline: none;
    border-color: gray;
    box-shadow: 0 0 2px gray;
    transition-duration: 0.7s;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#prod a {
    text-decoration: none; 
}

#prod li:active {
    transition-duration: 0.3s;
}

.normal {
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.3s;
}

.active {
    background-color: darkred;
    color: white;
    text-decoration: none;
    border-radius: 1px;
    outline: none;
    border-color: gray;
    box-shadow: 0 0 2px gray;
}

.stock {
  display: inline-block;
  margin: 5px 25px 0 20px;
  width: 75px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  }

  .desc {
  display: inline-block;
  margin: 5px 45px 0 10px;
  box-sizing: border-box;
  width: 625px;
  white-space: nowrap;
  overflow: hidden;
  }

.price {
  display: inline-block;
  margin: 5px -20px 0 50px;
  width: 65px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
}

.qty {
  display: inline-block;
  margin: 5px -45px 0 50px;
  width: 30px;
  box-sizing: border-box;
}

.edit-btn-primary {
    float: right;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    width: 30px !important;
    height: 100%;
    margin: 0;
    transition-duration: 0.4s;
    background: transparent;
    color: lightblue;
}

.edit-btn-confirm {
    float: right;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    width: 30px !important;
    height: 100%;
    margin: 0;
    background: transparent;
    transition-duration: 0.4s;
    color: green;    
}

.del-btn-primary {
    float: right;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    text-decoration: none;
    width: 30px !important;
    height: 100%;
    margin: 0;
    background: transparent;
    transition-duration: 0.4s;
    color: red;
}

.web-btn-primary {
    float: right;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    text-decoration: none;
    width: 30px !important;
    height: 100%;
    margin: 0;
    background: transparent;
    transition-duration: 0.4s;
    cursor: pointer;
    color: purple;
}

.form-btn-primary {
    float: right;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    text-decoration: none;
    width: 30px !important;
    height: 100%;
    margin: 0;
    background: transparent;
    transition-duration: 0.4s;
    cursor: pointer;
    color: orange;
}

.tDiv {
    background-color: red;
}

.highlight-row {
    background-color:darkblue;
    color: white;
    transition-duration: 0.9s;
    position: relative
    display: block;
    border: none;
    width: 1190px;
    height: 30px;
    margin: 0;
}

.highlight-icon {
    float: right;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    width: 30px !important;
    height: 100%;
    margin: 0;
    background: transparent;
    transition-duration: 0.4s;
    color: white !important;
}
