html, body {
    color: black;
    overflow: hidden;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btns {
    margin: 0 0 0 -2px;
    display: inline;
}

#nav {
    margin: 0 10px 30px 0;
    height: 50px;
    width: 1340px;
}

#toolbar {
    margin: 0 10px 30px 0;
    height: 50px;
    width: 1340px;
}

#toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input[type=text] {
    float:right;
    width: 130px;
    height: 25px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-family: 'Carrois Gothic', sans-serif;
}

input[type=text]:focus {
    width:200px;
}

input[type=text]:before {
    font-family: FontAwesome;
    color: lightslategray;
    content: "\f002";
}

#sidebar {
    padding: 20px 0 0 0;
    display: inline-block;
    height: 800px;
    margin: 20px 0 0 0;
    width: 200px;
    float: left;
    border-width: .5px;
    font-size: 14px;
    border-style: inset;
    border-color: #dddddd;
}

.guide {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
}

.underline {
    margin: -3px 0 3px 0;
}

#sidebar ul {
    list-style-type: none;
    font-family: 'Carrois Gothic', sans-serif;
}

#mainWin {
    padding: 0;
    display: inline-block;
    height: 1000px;
    width: 1133px;
    margin: 0 0 0 0;
    overflow: scroll;
    border-style: inset;
    border-width: thin;
    border-color: #dddddd;
}

.invBlocklt {
  display: block;
  border: none;
  width: 1130.5px;
  height: 30px;
  margin: 0;
  transition-duration: 0.1s;
  background: #eeeaef;
}

.invBlockdr {
  display: block;
  border: none;
  width: 1130.5px;
  height: 30px;
  margin: 0;
  transition-duration: 0.1s;
}

.invBlock:hover {
    border-style: inset;
    border-color: blue;
}

.col {
  margin: 0 70px 0 15px;
  display: inline-block;
  width: 30px;
  height: auto;
  font-family: 'Archivo Black', sans-serif;
}

.prc {
  margin: 0 25px 0 615px;
  display: inline-block;
  width: 30px;
  height: auto;
  font-family: 'Archivo Black', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}


.ops {
  float: right;
}

.max-btn {

}

.min-btn {

}

.close-btn {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

#cat {
}

.prod li{
  cursor: pointer;
}

#stckBlck {
  display: inline-block;
  margin: 5px 25px 0 20px;
  width: 75px;
  box-sizing: border-box;
  }

  #descBlck {
  display: inline-block;
  margin: 5px 45px 0 10px;
  box-sizing: border-box;
  width: 625px;
  }

#price {
  display: inline-block;
  margin: 5px 45px 0 50px;
  width: 50px;
  box-sizing: border-box;
}

.save-btn-primary {
    float: right;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    width: 30px !important;
    height: 100%;
    margin: 0;
    transition-duration: 0.4s;
    background: transparent;
    pointer-events: none;
}

.save-btn-primary:after {
    font-family: FontAwesome;
    color: blue;
    content: "\f044";
}

.save-btn-warn {
    float: right;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    width: 30px !important;
    height: 100%;
    margin: 0;
    background: transparent;
    transition-duration: 0.4s;
}

.save-btn-warn:after {
    font-family: FontAwesome;
    color: green;
    content: "\f00c";
}

.del-btn-primary {
    float: right;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    text-decoration: none;
    width: 30px !important;
    height: 100%;
    margin: 0;
    background: transparent;
    transition-duration: 0.4s;
}

.del-btn-primary:after {
    font-family: FontAwesome;
    color: red;
    content: "\f014";
}

.web-btn-primary {
    float: right;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    text-decoration: none;
    width: 30px !important;
    height: 100%;
    margin: 0;
    background: transparent;
    transition-duration: 0.4s;
}

.web-btn-primary:after {
    font-family: FontAwesome;
    color: gray;
    content: "\f00e";
}

.search-btn-primary {
    float: right;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    text-decoration: none;
    width: 30px !important;
    height: 100%;
    margin: 0 0 0 10px;
    background: transparent;
    transition-duration: 0.4s;
}

.search-btn-primary:after {
    font-family: FontAwesome;
    color: gray;
    content: "\f002";
}
