html, body {
    color: black;
    overflow: hidden;
}


.btns {
    margin: 0 0 0 -2px;
    display: inline;
}

#nav {
    margin: 0 10px 30px 0;
    height: 50px;
    width: 1340px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


input[type=text] {
    font-size: .8em;
    margin: -30px 45px 0 -50px;
    float:right;
    width: 130px;
    height: 25px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-family: 'Carrois Gothic', sans-serif;
}

input[type=text]:focus {
    width:200px;
}

#sidebar {
    padding: 5px 0 0 0;
    display: inline-block;
    height: 800px;
    margin: 20px 0 0 -25px;
    width: 200px;
    float: left;
    border-width: .5px;
    font-size: 14px;
    border-color: #dddddd;
}

.guide {
  margin: 0 115px 0 -150px;
  display: inline-block;
  width: 30px;
  height: auto;
  font-family: 'Archivo Black', sans-serif;
}

.underline {
    margin: -3px 0 3px 0;
}

#sidebar ul {
    list-style-type: none;
    font-family: 'Carrois Gothic', sans-serif;
}

#mainWin {
    padding: 0;
    display: inline-block;
    height: 1000px;
    width: 1133px;
    margin: 0 0 0 0;
    overflow: scroll;
    border-style: inset;
    border-width: thin;
    border-color: #dddddd;
}

.invBlocklt {
  display: block;
  border: none;
  width: 1130.5px;
  height: 30px;
  margin: 0;
  transition-duration: 0.1s;
  background: #eeeaef;
}

.invBlockdr {
  display: block;
  border: none;
  width: 1130.5px;
  height: 30px;
  margin: 0;
  transition-duration: 0.1s;
}


.col {
  margin: 0 70px 0 15px;
  display: inline-block;
  width: 30px;
  height: auto;
  font-family: 'Archivo Black', sans-serif;
}

.prc {
  margin: 0 25px 0 615px;
  display: inline-block;
  width: 30px;
  height: auto;
  font-family: 'Archivo Black', sans-serif;
}

::-webkit-scrollbar {
    width: .5px;
}


.ops {
  float: right;
}

.max-btn {

}

.min-btn {

}

.close-btn {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

#cat {
}

.prod li{
  cursor: pointer;

}

.prod li:hover {
    background-color: #dddddd;
    text-decoration: none;
    border-radius: 1px;
}

#stckBlck {
  display: inline-block;
  margin: 5px 25px 0 20px;
  width: 75px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  }

  #descBlck {
  display: inline-block;
  margin: 5px 45px 0 10px;
  box-sizing: border-box;
  width: 625px;
  white-space: nowrap;
  overflow: hidden;
  }

#price {
  display: inline-block;
  margin: 5px -20px 0 50px;
  width: 65px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
}

#qtyBlck {
  display: inline-block;
  margin: 5px -50px 0 50px;
  width: 30px;
  box-sizing: border-box;
}

.save-btn-primary {
    float: right;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    width: 30px !important;
    height: 100%;
    margin: 0;
    transition-duration: 0.4s;
    background: transparent;
    pointer-events: none;
}

.save-btn-primary:after {
    font-family: FontAwesome;
    color: blue;
    content: "\f044";
}

.save-btn-warn {
    float: right;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    width: 30px !important;
    height: 100%;
    margin: 0;
    background: transparent;
    transition-duration: 0.4s;
}

.save-btn-warn:after {
    font-family: FontAwesome;
    color: green;
    content: "\f00c";
}

.save-btn-main {
    margin: 0 0 0 0;
    display: inline;
    width: 30px;
    height: 30px;
    transition-duration: 0.4s;
    background: transparent;
}

.save-btn-main:after {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.5em;
    color: blue;
    content: "\f044";
}

.add-btn-primary {
    margin: 0 0 0 -2px;
    display: inline;
    transition-duration: 0.4s;
    background: transparent;
}

.add-btn-primary:after {
    display: inline-block;
    font-size: 1.5em;
    font-family: FontAwesome;
    color: blue;
    content: "\f044";
}

.del-btn-primary {
    float: right;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    text-decoration: none;
    width: 30px !important;
    height: 100%;
    margin: 0;
    background: transparent;
    transition-duration: 0.4s;
}

.del-btn-primary:after {
    font-family: FontAwesome;
    color: red;
    content: "\f014";
}

.web-btn-primary {
    float: right;
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    text-decoration: none;
    width: 30px !important;
    height: 100%;
    margin: 0;
    background: transparent;
    transition-duration: 0.4s;
    cursor: pointer;
}

.web-btn-primary:after {
    font-family: FontAwesome;
    color: gray;
    content: "\f00e";
}

.search-btn-primary {
    float: right;
    margin: -30px 25px 0 -200px;
    cursor: pointer;
    text-decoration: none;
    border-width: 0;
    text-decoration: none;
    width: 15px !important;
    height: 100%;
    background: transparent;
    transition-duration: 0.4s;
}

.search-btn-primary:after {
    font-family: FontAwesome;
    color: gray;
    content: "\f002";
}

.close-search-btn-primary {
    float: right;
    margin: -30px 0 0 5px;
    cursor: pointer;
    text-decoration: none;
    border-width: 0;
    text-decoration: none;
    width: 15px !important;
    height: 100%;
    background: transparent;
    transition-duration: 0.4s;
}

.close-search-btn-primary:after {
    font-family: FontAwesome;
    color: gray;
    content: "\f00d";
}

.tDiv {
    background-color: red;
}

.highlight {
    background-color:rgba(0, 128, 0, .3)
}
